<% @user ||= current_user %>
<div class="info">
  <div>
    <%= gravatar_for(@user) %>
    <h2 id="user_info_name">
      <%= @user.name %>
    </h2>
  </div>
  <span><%= pluralize(current_user.posts.count, "post") %></span> |
  <a href="<%= friends_user_path(@user) %>">
    <strong id="friends" class="stat">
      <%= cnt = @user.friends.count %>
    </strong>
    <%= 'friend'.pluralize(@user.friends.count) %>
  </a>
</div>
