<li id="post-<%= post.id %>">
  <%= link_to post.author.name, post.author %>
  <span class="content"><%= post.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(post.created_at) %> ago.
    <% if current_user == post.author %>
      <%= link_to "delete", post, method: :delete,
                                  data: { confirm: "Are you sure?" } %>
    <% end %>
  </span>
  <% if post.likes.map(&:liker).include?(current_user) %>
    <%= render partial: 'shared/unlike_form', locals: {post: post} %>
  <% else %>
    <%= render partial: 'shared/like_form', locals: {post: post} %>
  <% end %>
  <span class="likes"><%= pluralize(post.likes.count, 'like') %><span>
  <div class="comments">
    <% if post.comments.any? %>
      <ol>
        <%= render post.first_five_comments %>
      </ol>
      <% if post.comments.size > 5 %>
        <%= link_to "More >>", post %>
      <% end %>
    <% end %>
  </div>
  <div class="comment_form">
    <%= render partial: 'shared/comment_form', locals: {post: post} %>
  </div>
</li>
